[*.{cs,vb}]

# IDE0049: Use framework type
dotnet_style_predefined_type_for_member_access = true:error

# IDE0049: Use framework type
dotnet_style_predefined_type_for_locals_parameters_members = true:error

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = warning

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
